@using CalendarPetProject.ViewModels.Contact;
@model ContactSupportViewModel;

@{
    ViewData["ContactSupport"] = "Contact Support";
}
<link rel="stylesheet" href="~/css/SupportPage.css" asp-append-version="true" />

<div class="SupportCard">
    <div class="FieldFlex">
    <div class="SupportField">
        <label asp-for="UserEmailAddress" class="form-label"></label>
        <input class="SupportInput" asp-for="UserEmailAddress" placeholder="Example@gmail.com">
    </div>

    <div class="SupportField">
        <label asp-for="RequestTitle" class="form-label"></label>
        <input class="SupportInput"  asp-for="RequestTitle" placeholder="Title">
    </div>

    <div class="SupportField">
        <label asp-for="RequestDescription" class="form-label"></label>
        <textarea placeholder="Type your message" asp-for="RequestDescription" class="SupportInputMessage"></textarea>
        </div>
    </div>
    <input type="submit" value="Login" class="btn btn-success w-100 p-2 float-start" />
</div>