@using CalendarPetProject.ViewModels.AccountEnterance
@model EmailContainerViewModel;


@{
    ViewData["GuestView"] = "GuestView";
}
<link rel="stylesheet" href="~/css/guestPage.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="body-background">
    <p id="slogan" class="slogan-text base-slogan-degign"></p>
    <p id="sub-slogan" class="slogan-text base-slogan-degign">Stay organized, meet your goals, and take control of your time—all in one place.</p>

</div>
<div class="progress-container mt-5">
    <div class="progress-bar" id="progressBar"></div>
</div>

<div class="guest-main-page-box d-flex align-items-center mt-5">
    <div class="fredoka-font w-50">
        <h1 style="font-size: 4rem;">Great schedule starts with <strong class="slogan-text">MiraiDays </strong> </h1>
        <h4>All the scheduling tools you need to enhance your productivity</h4>
    </div>
    <form asp-controller="Account" asp-action="RedirectToRegister" method="post">
        <div class="d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-1">
                <label asp-for="Email" class="fredoka-font"></label>
                <input type="email" asp-for="Email" class="email-address-collector fredoka-font" placeholder="Type your email address" required />
                <label class="fredoka-font font-small">Using a work email helps find teammates and boost collaboration.</label>
            </div>
            <button type="submit" class="button">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">REGISTER NOW</span>
                </span>
            </button>
        </div>
    </form>
</div>

<div class="cards-container" data-aos="fade-up">
    <div class="card" data-id="1">
        <p class="card-name text-uppercase">Enchance your experience with AI</p>
        <p class="fw-bold">AI Integration</p>
         <div class="card-image-container">
             <img src="~/Resources/Images/Cards/Cover/Ai.png" class="card-image"/>
         </div>
    </div>
    <div class="card" data-id="2">
        <p class="card-name text-uppercase">adjust your schelude depending</p>
        <p class="fw-bold">Agjust time by your own</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/Cover/Business.png" class="card-image" />
        </div>
    </div>
    <div class="card" data-id="3">
        <p class="card-name text-uppercase">Plan the best moments in your life</p>
        <p class="fw-bold">Add some plans</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/Cover/Plans.png" class="card-image" />
        </div>
    </div>
    <div class="card" data-id="4">
        <p class="card-name text-uppercase">Forget about being late</p>
        <p class="fw-bold">You will be notified</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/Cover/BeNotified.png" class="card-image" />
        </div>
    </div>
    <div class="card" data-id="5">
        <p class="card-name text-uppercase">Improve your discipline</p>
        <p class="fw-bold">Be focused on your tasks</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/Cover/Focuse.png" class="card-image" />
        </div>
    </div>
</div>

<div id="overlay" class="overlay" style="display:none;"></div>
<div id="card-description" class="description-box" style="display: none;">
    <div class="desc-content">
        <div class="desc-text m-4">
            <h2 id="desc-title">Title </h2>
            <hr/>
            <p id="desc-paragraph" class="card-description">description</p>
            <a asp-controller="Account" asp-action="Register" class=" card-get-started text-uppercase">Get started</a>

        </div>
        <img  id="desc-image" alt="Card image" />
    </div>
    <button class="close-btn" onclick="hideDescription()">×</button>
</div>

<h1>Technologies we have used</h1>
<div class="technology-slider-wrapper">
    <button class="slider-btn left-btn" aria-label="Previous"><</button>

    <div class="technology-used-container">
        <a href="https://learn.microsoft.com/en-us/aspnet/web-pages/">
            <img src="/Resources/Images/Logos/ASP.NET.png" class="logo-image" />
        </a>
        <a href="https://openai.com/api/">
            <img src="/Resources/Images/Logos/ChatGpt.png" class="logo-image" />
        </a>
        <a href="https://dotnet.microsoft.com/en-us/download">
            <img src="/Resources/Images/Logos/Net-Core-Logo-Vector.svg-.png" class="logo-image" />
        </a>
        <a href="https://github.com/">
            <img src="/Resources/Images/Logos/GitHub.png" class="logo-image" />
        </a>
        <a href="https://www.cloudflare.com/">
            <img src="/Resources/Images/Logos/CloudFlare.png" class="logo-image" />
        </a>
        <a href="https://www.blender.org/">
            <img src="/Resources/Images/Logos/Blender.png" class="logo-image" />
        </a>
        <a href="https://www.adobe.com/products/photoshop.html">
            <img src="/Resources/Images/Logos/Photoshop.png" class="logo-image" />
        </a>
    </div>

    <button class="slider-btn right-btn" aria-label="Next">></button>
</div>
<div class="video-banner" data-aos="fade-up">
    <img src="/Resources/Images/Logos/AILogo.png" width="100"/>
    <h2 class="text-uppercase">Adjust your time with AI</h2>
    <h5 class="fw-light">Artificial Intelligence takes your big ideas and automatically suggests the tasks to help you always be on time.</h5>


</div>
<script src="~/js/GuestPage.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js" defer></script>
<script>
    window.showDescriptionFromServer = @(ViewBag.ShowDescription == true ? "true" : "false")
</script>