@{
    ViewData["GuestView"] = "GuestView";
}
<link rel="stylesheet" href="~/css/guestPage.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">


<div class="body-background di">
    <p id="slogan" class="slogan-text base-slogan-degign"></p>
    <p id="sub-slogan" class="slogan-text base-slogan-degign">Stay organized, meet your goals, and take control of your time—all in one place.</p>
</div>

<div class="guest-main-page-box d-flex align-items-center mt-5">

    <a class="button nav-link" asp-controller="Account" asp-action="Register">
        <span class="button_lg">
            <span class="button_sl"></span>
            <span class="button_text">REGISTER NOW</span>
        </span>
    </a>
    <img src="~/Resources/Images/GuestMainImage.jpg" class="guest-main-page-image">
</div>

<div class="cards-container">
    <div class="card">
        <p class="card-name"></p>
        <p class="slogan"></p>
    </div>
</div>


<script src="~/js/GuestPage.js" defer></script>