@{
    ViewData["GuestView"] = "GuestView";
}
<link rel="stylesheet" href="~/css/guestPage.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

<div class="body-background di">
    <p id="slogan" class="slogan-text base-slogan-degign"></p>
    <p id="sub-slogan" class="slogan-text base-slogan-degign">Stay organized, meet your goals, and take control of your time—all in one place.</p>
</div>

<div class="guest-main-page-box d-flex align-items-center mt-5">

    <a class="button nav-link" asp-controller="Account" asp-action="Register">
        <span class="button_lg">
            <span class="button_sl"></span>
            <span class="button_text">REGISTER NOW</span>
        </span>
    </a>
    <img src="~/Resources/Images/GuestMainImage.jpg" class="guest-main-page-image">
</div>

<div class="cards-container" data-aos="fade-up">
    <div class="card">
        <p class="card-name text-uppercase">Adjust your schedule with AI</p>
        <p class="fw-bold">AI Integration</p>
         <div class="card-image-container">
             <img src="~/Resources/Images/Cards/AI/Ai.png" class="card-image"/>
         </div>
    </div>
    <div class="card">
        <p class="card-name text-uppercase">Adjust your schedule with AI</p>
        <p class="fw-bold">AI Integration</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/AI/Ai.png" class="card-image" />
        </div>
    </div>
    <div class="card">
        <p class="card-name text-uppercase">Adjust your schedule with AI</p>
        <p class="fw-bold">AI Integration</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/AI/Ai.png" class="card-image" />
        </div>
    </div>
    <div class="card">
        <p class="card-name text-uppercase">Adjust your schedule with AI</p>
        <p class="fw-bold">AI Integration</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/AI/Ai.png" class="card-image" />
        </div>
    </div>
    <div class="card">
        <p class="card-name text-uppercase">Adjust your schedule with AI</p>
        <p class="fw-bold">AI Integration</p>
        <div class="card-image-container">
            <img src="~/Resources/Images/Cards/AI/Ai.png" class="card-image" />
        </div>
    </div>
</div>
<div class="technology-used-container">
    <a href="https://learn.microsoft.com/en-us/aspnet/web-pages/">
        <img src="/Resources/Images/Logos/ASP.NET.png" class="logo-image"/>
    </a>
    <a href="https://openai.com/api/">
        <img src="/Resources/Images/Logos/ChatGpt.png" class="logo-image"/>
    </a>
    <a href="https://dotnet.microsoft.com/en-us/download">
        <img src="/Resources/Images/Logos/Net-Core-Logo-Vector.svg-.png" class="logo-image" />
    </a>
    <a href="https://www.microsoft.com/en-us/sql-server">
        <img src="/Resources/Images/Logos/microsoft-sql-server-logo-02.png" style="width: 300px;" />
    </a>
</div>

<script src="~/js/GuestPage.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>