<div class="workikng-place">
    <div class="side-panel">
        <button id="create-event">Create &#x25BC;  </button>
        <input type="date"/>
    </div>

    <div class="hour-manager">

    </div>
</div>