@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<h4 class="privacy-policy fs-5 fw-normal">This Website collects some Personal Data from its Users.</h4>


<div class="mt-5">
<hr/>
<p class="fw-bold fs-4">Personal Data processed for the following purposes and using the following services:<p/>
</div>

<div class="privacy-module">
    <div class="privacy-module-flex-row">
        <div class="item">
            <p class="fw-bold">
                <i class="bi bi-bar-chart"></i>
                Analytics and Tracking
            </p>
            <p class="text-block">
                We collect analytics data through both our internal tracking systems and third-party services such as Google Analytics (Universal Analytics).
                This helps us understand user behavior, measure performance, and improve our website functionality.
            </p>
            <p class="fs-9">
                <strong class="fw-bold">Personal Data:</strong> Cookies; Usage Data
            </p>
        </div>
        <div class="item">
            <p class="fw-bold">
                <i class="bi bi-envelope"></i>
                Contacting the User info
            </p>
            <p class="text-block">
                We collect your email, username, and Google profile photo when you sign in or use the contact form, solely to provide and personalize the service.
                Your data is stored securely and not shared with third parties without consent.
            </p>
            <p class="fs-9">
                <strong class="fw-bold">Personal Data:</strong> Email address
            </p>
        </div>
    </div>
    <div class="privacy-module-flex-row">
        <div class="item">
            <p class="fw-bold">
                <i class="bi bi-bar-chart"></i>
                Platform services and hosting
            </p>
            <p class="text-block">
                This service collects various types of personal data as described in the privacy policy, including but not limited to names, email addresses, IP addresses, usage data, and device information. This data is collected to provide and improve our services, personalize user experience, facilitate communication, and for security purposes. We handle your personal information with strict confidentiality, ensure secure storage, and do not share it with third parties without your explicit consent, except where required by law. Users have the right to access, correct, or delete their personal data in accordance with applicable data protection regulations.
                For more detailed information about data collection, use, and your rights, please refer to the full privacy policy.
            </p>
            <p class="fs-9">
                <strong class="fw-bold">Personal Data:</strong> Trackers; Usage Data
            </p>
        </div>
        <div class="item">
            <p class="fw-bold">
                <i class="bi bi-envelope"></i>
                Interaction with external social networks and platforms
            </p>
            <p class="text-block">
                Facebook Like button and social widgets and Twitter Tweet button and social widgets<br/>
                Personal Data: Cookies; Usage Data<br /><br />

                LinkedIn button and social widgets<br />
                Personal Data: Tracker; Usage Data<br /><br />

                YouTube button and social widgets<br />
                Personal Data: Usage Data<br /><br />
            </p>
            <p class="fs-9">
                <strong class="fw-bold">Personal Data:</strong> Usage Data
            </p>
        </div>
    </div>
    <div class="mt-3">
        <p class="fw-bold">
            <i class="bi bi-bar-chart"></i>
            Contact information
        </p>
            <p class="fw-bold fs-6">Owner and Data Controller</p>
            <p class="text-block w-25">
                Pet project Malta Union Club
                First Floor, 1 Tigne Str.
                Sliema, SLM 3170
            </p>
        <p class="text-block"><strong>Owner contact email:</strong> petProject@gmail.com</p>
    </div>
</div>