@using CalendarPetProject.ViewModels.AccountEnterance;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h1 class="text-center mb-4">
            Login
        </h1>

        <form asp-action="Login" method="post" class="d-flex flex-column">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Login" class="form-label" ></label>
                <br/>
                <input asp-for="Login" class="form-controll border border-primary w-100" id="account-controll-input" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <br/>
                <input asp-for="Password" class="form-controll w-100" id="account-controll-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="DoesRememberUser" class="form-check-input"/>
                    @Html.DisplayNameFor(a => a.DoesRememberUser);
                </label>
            </div>
            <div class="float-end p-1">
                <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Forgot password</a>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2 float-start"/>
            <p class="text-center mt-2">
                Don't have an account?
                <a asp-controller="Account" asp-action="Register">Create an account</a>
            </p>
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3 p-4">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}