@{
    ViewData["ThanksForSupportRequest"] = "Thanks for the request";
}
<link rel="stylesheet" href="~/css/ContactSupport/ContactSupportClose.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">


<div class="main-block">
    <div class="align-content-center">
        <h1>Thanks for your submition</h1>
        <h1>We will contact you <strong class="text-uppercase">as soon as possible!!!</strong></h1>
    </div>
    <div class="button-container">
        <a class="return-button" asp-action="Index" asp-controller="Home">Return to home page</a>
        <a class="return-button" asp-action="ContactSupport" asp-controller="Home">Write another request</a>
    </div>
</div>