@using CalendarPetProject.ViewModels.Contact;
@model AIContactSupportViewModel;

@{
    ViewData["ContactSupport"] = "AI Contact Support";
}

<link rel="stylesheet" href="~/css/ContactSupport/SupportPage.css" asp-append-version="true" />

<form asp-action="GetAIResponse" asp-controller="AITextGenerative">
    <div class="contact-support-content">
        <div id="chat-box" class="ai-chat">
            <div class="introduction">
                <img src="~/Resources/Images/Logos/AILogoDark.png" width="100px"/>
                <h1>Hello there, my name is Jarik</h1>
                <h4>and I'm ready to help you</h4>
            </div>
        </div>
        <div class="user-prompt-field">
            <input asp-for="@Model.UserPrompt" class="user-prompt" type="text" id="user-input" autocomplete="off" placeholder="Type your message here..." />
            <input type="button" id="send" class="user-prompt" value="Submit" />

        </div>
    </div>
</form>


<script src="~/js/ContactSupport/AiContactSupport.js" defer></script>