*{
    box-sizing: border-box;
}
.skill {
    height: 260px;
    width: 260px;
    position: relative;
}
.outline {
    height: 260px;
    width: 260px;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.inline {
    height: 190px;
    width: 190px;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0, 0.2), 
        inset -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0,0,0, 0.15),
        0px 12px 10px -10px rgba(0,0,0, 0.05);
    display: flex;
    align-items:center;
    justify-content: center;
}
#total-exp{
    font-size: 20px;
    font-weight: 600;
    color: darkslategrey;
}
circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 22px;
}

.exp-indicator {
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    stroke-dasharray:450;
    stroke-dashoffset:50;
}