*{
    box-sizing: border-box;
}
.skill {
    height: 260px;
    width: 260px;
    position: relative;
}
.outline {
    height: 260px;
    width: 260px;
    position: relative;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.inline {
    height: 190px;
    width: 190px;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0, 0.2), 
        inset -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0,0,0, 0.15),
        0px 12px 10px -10px rgba(0,0,0, 0.05);
    display: flex;
    align-items:center;
    justify-content: center;
}
#total-exp{
    font-size: 20px;
    font-weight: 600;
    color: darkslategrey;
}
circle {
    fill: none;
    stroke-width: 22px;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.6s ease;
}

circle.bg {
    stroke: #e0e0e0;
}

circle.progress {
    stroke: url(#GradientColor);
    stroke-dasharray: var(--dasharray);
    stroke-dashoffset: var(--dashoffset);
    animation: anim 2s ease-in forwards;
}

@keyframes anim {
    from {
        stroke-dashoffset: var(--dasharray);
    }

    to {
        stroke-dashoffset: var(--dashoffset);
    }
}
.exp-indicator {
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    stroke-dasharray:100;
}
.user-avatar-profile {
    color: white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px grey;
    font-weight: 600;
    font-size: 45px;
    text-align:center;
}
.profile-data {
    margin-top: 30px;
    display: flex;
    line-height: 0.6;
    align-items: center;
    text-align: right;
    justify-content: right;
    gap: 2em;
}
.user-name{
    font-size:45px;
    font-weight:600;
}
.user-email {
    font-size: 20px;
    font-weight: 500;
}
.more {
    font-size: 15px;
}
.more-info-button {
    text-decoration: none;
    background: none;
    border: 0px;
}
.user-profile-update-form{
    display:flex;
    flex-direction:column;
    gap:2em;
}
.profile-image {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-description{
    background-color: white;
    position:absolute;
    width: 50%;
    top: 100px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px darkgrey;
    align-self:center;
    z-index:3;
    padding:20px;
}
.social-media-link {
    display:flex; 
    flex-direction:row;
    gap:1em;
}
.socials{
    display:flex;
    flex-direction:column;
    gap:0.5em;
}