html {
  font-size: 14px;
}
.slogan-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#dancing-script-LogoHeaderText {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items:center; 
    height: 1%;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.privacy-module {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 3em;
    max-width: auto;
    padding: 30px;
}
.privacy-module-flex-row {
    display: flex;
    flex-direction: row;
    gap:3em;
}
.item {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px darkgrey;
}

.text-block{
    color: gray;
}
@media (max-width: 600px) {
    .privacy-module{
        flex-direction:column;
    }
}
.HeaderLogo{
    max-width:50px;
    max-height:50px;
    align-self:center;
}
.SocialIcon {
    padding-top:5px;
    max-width: 50px;
    max-height: 50px;
    float:right;
}
.footer-block{
    display:flex;
    flex-direction:row;
    padding:0px;
    margin:0px;
    gap:3em;
    align-self:center;
    align-content:center;
    align-items:center;
}
.footer-item {
    display:flex;
    flex-direction:column;
    padding:0px;
    margin:0px;
}