html {
  font-size: 14px;
}
.slogan-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
#dancing-script-LogoHeaderText {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items:center; 
    height: 1%;
}


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.privacy-module {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 3em;
    max-width: auto;
    padding: 30px;
}
.privacy-module-flex-row {
    display: flex;
    flex-direction: row;
    gap:3em;
}
.item {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 50%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px darkgrey;
}

.text-block{
    color: gray;
}
@media (max-width: 600px) {
    .privacy-module{
        flex-direction:column;
    }
    .footer-block {
        flex-direction: column;
    }
}

.HeaderLogo{
    max-width:50px;
    max-height:50px;
    align-self:center;
}
.SocialIcon {
    padding-top:5px;
    max-width: 50px;
    max-height: 50px;
    float:right;
}
.footer-block {
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0px;
    gap: 3em;
    background-color: white;
    position:fixed;
}
.footer-block.hidden {
    transform: translateY(100%);
    opacity: 0;
}
.footer-item {
    display:flex;
    flex-direction:column;
    padding:0px;
    margin:0px;
}
.project-email-address {
    padding:0px;
    margin:0px;
    color: #2c7e3d;
    cursor: pointer;
    text-decoration:underline;
    transition:0.2s;
    border: 0px;
    background-color:transparent;
}
.project-email-address:hover {
    color: #1d5429;
    transition:0.2s;
}
.icon-container{
    display:flex;
    flex-direction:row;
    gap: 1em;
}
.icon-container img{
    max-width: 35px;
    transition: 0.3s;
}
.content{
    flex:1;
}
.toggle-footer {
    border-radius: 100px;
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    background-color: #e7e7e7;
    right: 20px;
    position: fixed;
    box-shadow: 0px 0px 10px #8a8a8a;
    transition:0.1s;
}
.toggle-footer:hover {
    transition: 0.1s;
    transform: scale(1.1);
    background-color: #e6e6e6;
}

.user-avatar {
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px grey;
    font-weight:600;
}
